body {
    font-family: Arial, Helvetica, sans-serif;
}

#music-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#song-image {
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

#song-name {
    margin-top: 20px;
    font-size: 2em;
}

#music-buttons {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#music-buttons i {
    padding: 10px;
    /* color: red; */
}

#slider-song {
    /* accent-color: red; */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 300px;
    height: 5px;
    background: repeating-linear-gradient(45deg, rgb(47, 255, 0), rgb(0, 255, 64) 12px, rgb(127, 255, 150) 12px, rgb(87, 236, 122) 24px);
    border: 1px solid rgb(51, 255, 0);
    border-radius: 10px;
    margin-top: 20px;
}

#slider-song::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: rgb(24, 148, 3);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}