*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    align-items: center;
    background: linear-gradient(135deg, #ff9a9e 35%, #fad0c4 65%);
}

/* LETTER 2 */
.whole2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.container2{
    height: 200px;
    width: 300px;
    background-color: #805b5b;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 0;
    animation: floatingContainer 3s ease-in-out infinite;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 0px 25px;
}

.seal_flap2{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-right: 150px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 150px solid transparent;
    transform-origin: top;
    transition: transform 0.25s linear;
}

.seal_flap2.one2{
    border-top: 100px solid #f1e1e1;
    transform: rotateX(0deg);
    z-index: 4;
    transition-delay: 0.75s;
}

.seal_flap2.two2{
    border-top: 100px solid #cfb2b2;
    transform: rotateX(90deg);
    z-index: 1;
    transition-delay: 0.5s;
}

.envelope2{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-top: 100px solid transparent;
    border-right: 150px solid #f0c4c4;
    border-bottom: 100px solid #f0c4c4;
    border-left: 150px solid #f2a4a4;
    z-index: 4;
}

.letter2{
    position: absolute;
    height: 100%;
    width: 80%;
    background-color: rgb(255, 215, 215);
    top: 0;
    border-radius: 15px;
    z-index: 2;
    transition: 0.5s;
}

.letter2 h1{
    text-align: center;
    margin-top: 20px;
    color: #3B4049;
    font-size: 24PX;
}

.letter2 p{
    text-align: center;
    margin-top: 15px;
    color: #3B4049;
    font-size: 14px;
}

#opening{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f0c4c4;
    border: none;
    border-radius: 5px;
    color: #3B4049;
    transition: 0.5s;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 12px;
}

#opening:hover{
    background-color: #f2a4a4;
}

#closing{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f0c4c4;
    border: none;
    border-radius: 5px;
    color: #3B4049;
    transition: 0.5s;
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 12px;
}

#closing:hover{
    background-color: #f2a4a4;
}

/* LETTER 3 */
.whole3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.container3{
    height: 200px;
    width: 300px;
    background-color: #5b5d80;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 0;
    animation: floatingContainer 3s ease-in-out infinite;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 0px 25px;
}

.seal_flap3{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-right: 150px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 150px solid transparent;
    transform-origin: top;
    transition: transform 0.25s linear;
}

.seal_flap3.one3{
    border-top: 100px solid #e1f1ef;
    transform: rotateX(0deg);
    z-index: 4;
    transition-delay: 0.75s;
}

.seal_flap3.two3{
    border-top: 100px solid #b2bccf;
    transform: rotateX(90deg);
    z-index: 1;
    transition-delay: 0.5s;
}

.envelope3{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-top: 100px solid transparent;
    border-right: 150px solid #c4c4f0;
    border-bottom: 100px solid #c5c4f0;
    border-left: 150px solid #a4a5f2;
    z-index: 4;
}

.letter3{
    position: absolute;
    height: 100%;
    width: 80%;
    background-color: rgb(215, 250, 255);
    top: 0;
    border-radius: 15px;
    z-index: 2;
    transition: 0.5s;
}

.letter3 h1{
    text-align: center;
    margin-top: 20px;
    color: #3B4049;
    font-size: 24PX;
}

.letter3 p{
    text-align: center;
    margin-top: 15px;
    color: #3B4049;
    font-size: 14px;
}

#open3{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #c6c4f0;
    border: none;
    border-radius: 5px;
    color: #3B4049;
    transition: 0.5s;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
}

#open3:hover{
    background-color: #b1a4f2;
}

#close3{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #c6c4f0;
    border: none;
    border-radius: 5px;
    color: #3B4049;
    transition: 0.5s;
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
}

#close3:hover{
    background-color: #a4a9f2;
}

/* LETTER 4 */
.whole4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.container4{
    height: 200px;
    width: 300px;
    background-color: #807c5b;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 0;
    animation: floatingContainer 3s ease-in-out infinite;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 0px 25px;
}

.seal_flap4{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-right: 150px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 150px solid transparent;
    transform-origin: top;
    transition: transform 0.25s linear;
}

.seal_flap4.one4{
    border-top: 100px solid #f1f1e1;
    transform: rotateX(0deg);
    z-index: 4;
    transition-delay: 0.75s;
}

.seal_flap4.two4{
    border-top: 100px solid #cfcbb2;
    transform: rotateX(90deg);
    z-index: 1;
    transition-delay: 0.5s;
}

.envelope4{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-top: 100px solid transparent;
    border-right: 150px solid #f0eec4;
    border-bottom: 100px solid #f0eac4;
    border-left: 150px solid #f2eea4;
    z-index: 4;
}

.letter4{
    position: absolute;
    height: 100%;
    width: 80%;
    background-color: rgb(255, 247, 215);
    top: 0;
    border-radius: 15px;
    z-index: 2;
    transition: 0.5s;
}

.letter4 h1{
    text-align: center;
    margin-top: 20px;
    color: #3B4049;
    font-size: 24PX;
}

.letter4 p{
    text-align: center;
    margin-top: 15px;
    color: #3B4049;
    font-size: 14px;
}

#open4{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f0ecc4;
    border: none;
    border-radius: 5px;
    color: #3B4049;
    transition: 0.5s;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
}

#open4:hover{
    background-color: #f2efa4;
}

#close4{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f0eac4;
    border: none;
    border-radius: 5px;
    color: #3B4049;
    transition: 0.5s;
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
}

#close4:hover{
    background-color: #f2e8a4;
}

/* LETTER 5 */
.whole5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.container5{
    height: 200px;
    width: 300px;
    background-color: #805b80;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 0;
    animation: floatingContainer 3s ease-in-out infinite;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 0px 25px;
}

.seal_flap5{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-right: 150px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 150px solid transparent;
    transform-origin: top;
    transition: transform 0.25s linear;
}

.seal_flap5.one5{
    border-top: 100px solid #f1e1f0;
    transform: rotateX(0deg);
    z-index: 4;
    transition-delay: 0.75s;
}

.seal_flap5.two5{
    border-top: 100px solid #cfb2cf;
    transform: rotateX(90deg);
    z-index: 1;
    transition-delay: 0.5s;
}

.envelope5{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-top: 100px solid transparent;
    border-right: 150px solid hsl(303, 58%, 85%);
    border-bottom: 100px solid #eec4f0;
    border-left: 150px solid #f2a4f2;
    z-index: 4;
}

.letter5{
    position: absolute;
    height: 100%;
    width: 80%;
    background-color: rgb(251, 215, 255);
    top: 0;
    border-radius: 15px;
    z-index: 2;
    transition: 0.5s;
}

.letter5 h1{
    text-align: center;
    margin-top: 20px;
    color: #3B4049;
    font-size: 24PX;
}

.letter5 p{
    text-align: center;
    margin-top: 15px;
    color: #3B4049;
    font-size: 14px;
}

#open5{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #eac4f0;
    border: none;
    border-radius: 5px;
    color: #3B4049;
    transition: 0.5s;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 12px;
}

#open5:hover{
    background-color: #f2a4f2;
}

#close5{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f0c4ed;
    border: none;
    border-radius: 5px;
    color: #3B4049;
    transition: 0.5s;
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 12px;
}

#close5:hover{
    background-color: #f2a4ea;
}

@keyframes floatingContainer {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

/* Heart container */
.hearts {
  position: fixed;
  inset: 0;
  opacity: 0.7;
  pointer-events: none;
  z-index: -1;
}

/* Heart base */
.heart {
  position: absolute;
  bottom: -120px;
  --scale: 1; /* default */
}

/* Heart shape */
.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 80px;
  background: #e60073;
  border-radius: 50px 50px 0 0;
  top: 0;
}

.heart::before {
  left: 50px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

/* Individual heart sizes & positions */
.a1 { right: 10%; --scale: 0.6; animation: slideUp 4s linear infinite, sideSway 2s ease-in-out infinite alternate; }
.a2 { left: 25%; --scale: 0.6; animation: slideUp 5s linear infinite, sideSway 3s ease-in-out infinite alternate; }
.a3 { left: 40%; --scale: 0.5; animation: slideUp 6s linear infinite, sideSway 4s ease-in-out infinite alternate; }
.a4 { left: 60%; --scale: 1.0; animation: slideUp 7s linear infinite, sideSway 2.5s ease-in-out infinite alternate; }
.a5 { left: 75%; --scale: 1.2; animation: slideUp 8s linear infinite, sideSway 3.5s ease-in-out infinite alternate; }
.a6 { right: 90%; --scale: 1.1; animation: slideUp 9s linear infinite, sideSway 4.5s ease-in-out infinite alternate; }

/* Vertical movement */
@keyframes slideUp {
  0% {
    transform: translateY(0) scale(var(--scale));
    opacity: 0;
  }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% {
    transform: translateY(-900px) scale(var(--scale));
    opacity: 0;
  }
}

/* Horizontal sway */
@keyframes sideSway {
  0% { margin-left: 0; }
  50% { margin-right: 60px; }
  100% { margin-left: 60px; }
}


